# Telegram Bot
TELEGRAM_TOKEN=your_telegram_bot_token_here
YANDEX_API_KEY=your_yandex_api_key_here
YANDEX_PROJECT_ID=b1gblc7ca9fb1rj110cf
YANDEX_AGENT_ID=fvto5ko9l2ckfuadm2k2

# PostgreSQL
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=project_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_to_strong_password
